*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./bg.png);
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}


/* Navbar Starts  */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 2rem;
  background-color: white;
}

.logo{
  height: 50px;
}

.nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
}

.form{
  max-width: 500px;
  margin: 2rem auto;
}

.hero{
  display: flex;
  width: 100%;
}

.hero .image{
  width: 50%;
}

.hero .content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}