*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.HorizontalScroll {
  scrollbar-color: #ccc #eee;
}

.HorizontalScroll::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.HorizontalScroll::-webkit-scrollbar-track {
  margin: 1rem;
  background: center / 100% 25% no-repeat
    linear-gradient(0deg, transparent, transparent);
  border-radius: 1rem;
}
.HorizontalScroll::-webkit-scrollbar-track {
  background-image: linear-gradient(0deg, lightgray, lightgray);
}

.HorizontalScroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1rem;
}
.HorizontalScroll::-webkit-scrollbar-thumb {
  background: #0af;
}

:root{
  --primary-bg: #fff;
  --secondary-bg: #f7f7f7;
  --primary-text: #000;
  --gutter: 1rem;
}

body{
  /* background-image: url(/public/images/bg.png); */
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}


/* Navbar Starts  */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 2rem;
  background-color: var(--primary-bg);
  color: var(--primary-bg);
  grid-column: 1/3;
  z-index: 11;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.384);
}

.logo{
  height: 50px;
}

.nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
}

.form{
  max-width: 500px;
  margin: 2rem auto;
}

.hero{
  display: flex;
  background-image: linear-gradient(315deg, #8053ac 0%, #647dee 74%);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  min-height: calc(100vh - 80px);
}

.hero .image{
  width: 50%;
  min-width: 250px;
}

.hero .content{
  width: 50%;
  display: flex;
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Container{
  padding-top: 2rem;
}

a{
  text-decoration: none;
  color: var(--primary-text);
}

.box{
  max-width: 500px;
  margin: 2rem auto;
}

.page{
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 80px);
}
/* Sidebar starts  */

.sidebar{
  background-color: var(--primary-bg);
  color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  height: 100%;
  /* box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.384); */
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 9;
}

.user-image img{
  width: 150px;
  height: 150px;
  border: 10px solid rgba(84, 84, 86, 0.3);
  border-radius: 100%;
}

.user-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.sidebar .row{
  display: flex;
  color: var(--primary-text);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.row a{
  padding: .5rem 2rem;
}

.row a:hover{
  background-color: rgba(0, 0, 34, 0.3);
  color: white;
}

.app-wrap{
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  overflow: hidden;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.btn{
  background-color: #0af;
  color: white;
  cursor: pointer;
  width: max-content;
  margin: 1rem;
}

.title{
  padding: 1rem;
  margin: 0;
}

.popular-course{
  width: 100%;
}

.login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn a{
  padding: 0;
}
.login-btn a{
  background-color: none;
}

.HorizontalScroll {
  list-style: none;
  display: flex;
  /* margin: 0 calc(-1 * var(--gutter));
  margin-bottom: calc(var(--gutter) * 0.5 - 0.5rem * 0.5);
  padding-bottom: calc(var(--gutter) * 0.5 - 0.5rem * 0.5); */
  overflow-x: auto;
  width: 100%;
  padding-bottom: 1rem;
}


.HorizontalScroll:before,
.HorizontalScroll:after {
  content: '';
  min-width: calc(var(--gutter) * 0.5);
}

.HorizontalScroll_Item {
  margin: 0 calc(var(--gutter) * 0.5);
  scroll-snap-align: center;
}

.Item {
  background: lightseagreen;
  border-radius: 1rem;
  min-width: calc(50% - var(--gutter) * 2.5);
  height: 300px;
}
.Item.HorizontalScroll_Item {
  background: cornflowerblue;
}

.menu-button{
  position: fixed;
  top: 25px;
  right: 40px;
  display: none;
  z-index: 12;
}

@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    left: -100%;
    padding-top: 80px;
  }
  .app{
  grid-column: 1/3;
  }
  .Item {
    min-width: 200px;
    height: 150px;
  }
  .menu-button{
    display: block;
  }
  
}

.active-sidebar{
  left: 0%;
  width: 280px;
  top: 0;
  height: 100%;
  transition: .5s ease-in-out;
}

.card-wrap{
  display: flex;
  flex-wrap: wrap;

}

.card{
  max-width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--primary-bg);
  flex-wrap: wrap;
}

.card .img{
  width: 100%;
}

.card .name, .card .discription{
  flex-wrap: wrap;
}

iframe{
  aspect-ratio: 16/9;
  width: 100%;
}
.all-course{
  display: flex;
  flex-wrap: wrap;
}

.create-course{
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto;
}

.p1{
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
}